section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 260vh;
  .background,
  .foreground {
    position: fixed;
    width: 100%;
  }
}

.content {
  .box {
    position: fixed;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.first {
  margin-bottom: 500px;
  h1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  .logo {
    width: 428px;
    height: 99px;
    background-image: url(/assets/image/home-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.second {
  opacity: 0;
  .box {
    color: white;
    text-align: center;
    padding: 50px;
    max-width: 300px;
    opacity: 1;
    h2 {
      font-size: 35px;
      margin-bottom: 40px;
    }
    p {
      line-height: 150%;
    }
  }
}

.scroll {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  margin-bottom: 40px;
  margin-left: 48%;
  width: 50px;
  height: 50px;
}


